---
layout: default
---
<article class="prose max-w-4xl mx-auto p-6">
  <header>
    <h1 class="text-4xl font-serif text-dark-text">{{ page.title }}</h1>
    <p class="text-gray-600 mt-2">
      <strong>Author:</strong> {{ page.author }}<br>
      {% if page.category %}<strong>Category:</strong> {{ page.category }}{% endif %}
    </p>
  </header>

  <div class="mt-8">
    {{ content }}
    {% if page.link %}
      <p class="mt-4">
        <a href="{{ page.link }}" class="text-pastel-blue hover:underline" target="_blank">
          Read More
        </a>
      </p>
    {% endif %}
  </div>
</article>
