<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  
<body class="{% if page.url == "/" %}bg-background text-text{% else %}bg-white text-black{% endif %} font-sans">
  {% include header.html %}
  {% include edit_link.html %}
  {% if page.url == "/" %}
  <!-- Atomic Eye -->
    <div class="flex justify-center py-6">
      <img src="{{ '/assets/images/atomic-eye.png' | relative_url }}" alt="Atomic Eye" class="w-32 h-32">
    </div>
  {% endif %}

    <main class="prose {% if page.url == '/' %}prose-invert{% endif %} max-w-4xl mx-auto p-6">
    {{ content }}
  </main>

  {% include contribution.html %}
  {% include footer.html %}
</body>
</html>
