---
layout: default
---
<article class="prose max-w-4xl mx-auto p-6">
  <header>
    <h1 class="text-4xl font-serif text-dark-text">{{ page.title }}</h1>
    <p class="text-gray-600 mt-2">
      <strong>Description:</strong> {{ page.description }}<br>
      <strong>Source:</strong> <a href="{{ page.source }}" target="_blank" class="text-pastel-blue hover:underline">{{ page.source }}</a><br>
      <strong>Tags:</strong> 
      {% for tag in page.tags %}
        <span class="bg-gray-200 text-gray-800 rounded px-2 py-1">{{ tag }}</span>
      {% endfor %}
    </p>
  </header>

  <div class="mt-8">

    <image src="{{ page.featured_image }}" alt="{{ page.title }}" class="w-full rounded-lg shadow-lg mb-6">
    {{ content }}
    
  </div>
</article>
